html {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(39, 37, 37);
}

#calcbox {
    margin-top: 100px;
    box-shadow: 0px 0px 18px white;
    border-radius: 10px;
    align-self: center;
    width: 300px;
    height: 500px;
    border: 3px solid rgb(38, 81, 33);
    padding: 10px;
    background-color: rgb(165, 155, 76);
}

#display{
    background-color: black;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 5px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px black;
}

#text {
    box-sizing: border-box;
    padding: 5px 15px;
    margin: 8px;
    text-align: right;
    font-size: 20px;
}

#prevtxt {
    box-sizing: border-box;
    padding: 5px 15px;
    margin: 8px;
    text-align: right;
}

#clear, #backspace {
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color:red;
}

#allkeys {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#opkeys{
    display: flex;
    align-items: center;
}

#operands {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-basis: 250px;
    height: 100px;
}

#operators {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
    height: 100px;
}

.numbers {
    font-size: large;
    border-radius: 5px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid black;
    box-shadow: 0px 0px 12px black;
}

.symbols {
    font-size: medium;
    border-radius: 5px;
    text-emphasis: bold;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: aqua;
    color: black;
    box-shadow: 0px 0px 12px black;
}

#functionalkeys {
    display: flex;
    align-self: flex-start;
    padding-left: 8px;
    margin-top: 165px;
}

#eqbtn {
    text-emphasis: bold;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: green;
    color: black;
}

#clear, #backspace {
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0px 0px 12px black;
}

button:active {
    transform: scale(0.9);
    background-color: grey;
}

#name {
    color: blue;
    text-align: center;
    font-size: xx-large;
    margin: 4px 0px;
}